name: Run all tests

on:
  pull_request:
    branches:
      - staging

jobs:
  test-services:
    runs-on: ubuntu-latest
    environment: e2e
    strategy:
      matrix:
        # Add services here
        service:
          - frontend
          - backend
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Run tests for ${{ matrix.service }}
        run: |
          cd ${{ matrix.service }}
          npm install
          npm run unit-tests
          npm run integration-tests

  test-e2e:
    runs-on: ubuntu-latest
    needs: test-services
    environment: e2e
    env:
      GATEWAY_PORT: ${{ secrets.GATEWAY_PORT }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_DATABASE: ${{ secrets.DB_DATABASE }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_HOST: ${{ secrets.DB_HOST }}
      COOKIE_TTL: ${{ secrets.COOKIE_TTL }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker
        uses: docker/setup-buildx-action@v2

      - name: Build and Run E2E Tests
        run: |
          docker compose -f compose.e2e.yaml run e2e-tests
